doctype html 
html(lang="en")
head 
    meta(charset="UTF-8")
    title CSCI4131 homework5(login) - Hoin Jang
    link(href='resources/css/myStyle.css' rel='styleSheet' type='text/css')
body

include theNav.pug

h1 Log in?

.wrapper
  .card
    form(action = "/login" method ="post")
      label(for="username") username:
      textarea#username(name="username" rows ="1" cols ="30" placeholder="username" required="")
    
      br
      label(for="password") password:&nbsp;
      textarea#password(name="password" rows ="1" cols ="30" placeholder="password" required="")
    
      br
      input(type='submit' value='submit')

    